<!-- <h1>timing:1:50:36</h1> -->

  <app-header></app-header>
  <div class="wrapper wrapper2">
    &nbsp;
    <section class="Follow_up_view">
      <div class="Follow_up_view__divider">
        <div class="Follow_up_view__cotainer">
          &nbsp;

          <div class="Follow_up_view__header">&nbsp;</div>

          <div class="Follow_up_view__col_left">
            &nbsp;
            <div class="Follow_up_view__header__border_blue">
              <div class="Follow_up_view__header__left">
                <div class="Follow_up_view__header__logo">
                  <a href="" class="link header__right_items"
                    ><img
                      src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                      class="header__client__img"
                    />
                  </a>
                </div>

                <div class="Follow_up_view__header__content">
                  <span class="Follow_up_view__header__content__name"
                    >rokit</span
                  >
                  <div class="Follow_up_view__header__content__down">
                    <span>
                      <i class="fas fa-phone Follow_up_view__mobile"></i>
                      9884538089
                      <i class="fab fa-whatsapp Follow_up_view__whastapp"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="Follow_up_view__header__right"></div>

            <div class="Follow_up_view__main">
              <div class="u-margin-top-small">
                <div class="row">
                  <div class="col-1-of-3 col-1-of-3-he">
                    <div class="Follow_up_view_content-col-1">
                      Product and Service : IT JOB
                    </div>
                    <div class="Follow_up_view_content-col-1">
                      STATUS:
                      <a href="" class="Follow_up_view_content-span"
                        >Monster Lead</a
                      >
                    </div>
                    <div class="Follow_up_view_content-col-1">
                      Assigned To:
                      <a href="" class="link header__right_items"
                        ><img
                          src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                          class="header__client__img follow_up_lead_img"
                      /></a>

                      <span class="Follow_up_view__name-span">Rokit</span>
                    </div>
                    <div class="Follow_up_view_content-col-1">
                      Reference : Monster
                    </div>
                  </div>

                  <div class="col-1-of-3 col-1-of-3-he">
                    <div class="Follow_up_view_content-col-1">
                      <span> Next Due On : </span
                      ><i class="fas fa-calendar-week"></i> 12/05/8
                    </div>

                    <div class="Follow_up_view_content-col-1">
                      Location : Adyar
                    </div>
                  </div>

                  <div class="col-1-of-3 col-1-of-3-he">
                    <div class="Follow_up_view_content-col-1">
                      Category:-----------
                    </div>
                  </div>
                </div>
              </div>

              <div class="Follow_up_view_tabel u-margin-top-small">
                <div class="table__content">
                  <table class="table">
                    <tr class="table_row table_heading_row">
                      <th class="table__heading">#</th>
                      <th class="table__heading">Lead Id</th>
                      <th class="table__heading">Name</th>
                      <th class="table__heading">Mobile</th>
                      <th class="table__heading">Email Id</th>
                      <th class="table__heading">Location</th>
                      <th class="table__heading">Added On</th>
                      <th class="table__heading">Added By</th>
                      <th class="table__heading">Action</th>
                    </tr>

                    <tr class="table_row">
                      <td class="table_col">1</td>

                      <td class="table_col">4579</td>
                      <td class="table_col">ROKIT BOLT</td>
                      <td class="table_col">9790488338</td>
                      <td class="table_col">trainings@bixitacademy.com</td>
                      <td class="table_col">Adambakkam</td>
                      <td class="table_col">09/01/2020</td>
                      <td class="table_col">Rokit</td>
                      <td class="table_col">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="Follow_up_view__col_left_bottom">
              <div class="row row_follow_up">
                <div class="col-1-of-3 u-margin-left-small">
                  <div class="Follow_up_view__label">
                    <label for="status" class="Follow_up_view__label__element">
                      Status
                    </label>
                  </div>
                  <div class="Follow_up_view__input">
                    <select
                      type="text"
                      class="Follow_up_view__input__elemnt"
                      id="status"
                    >
                      <option></option>
                      <option>monster</option>
                    </select>
                  </div>
                </div>

                <div class="col-1-of-3">
                  <div class="Follow_up_view__label">
                    <label for="Remarks" class="Follow_up_view__label__element">
                      Remarks
                    </label>
                  </div>
                  <div class="Follow_up_view__input">
                    <select
                      type="text"
                      class="Follow_up_view__input__elemnt"
                      id="Remarks"
                    >
                      <option></option>
                      <option>monster</option>
                    </select>
                  </div>
                </div>
                <div class="col-1-of-3">
                  <div class="Follow_up_view__label">
                    <label for="Remarks" class="Follow_up_view__label__element">
                      Next Due on
                    </label>
                  </div>
                  <div class="Follow_up_view__input">
                    <input
                      type="date"
                      class="Follow_up_view__input__elemnt"
                      id="Remarks"
                    />
                  </div>
                </div>
              </div>

              <div class="row row_follow_up">
                <div class="col-2-of-3-custom">
                  <div class="Follow_up_view__label">
                    <label
                      for=" Follow-up-comments"
                      class="Follow_up_view__label__element"
                    >
                      Follow-up-comments
                    </label>
                  </div>
                  <div class="Follow_up_view__input">
                    <textarea
                      class="Follow_up_view__input__elemnt Follow_up_view__input__elemnt-textarea"
                      id="Follow-up-comments"
                    ></textarea>
                  </div>
                </div>

                <div class="col-1-of-2-custom u-margin-top-small">
                  <label for="Nofollow-up">No follow up</label>

                  <input type="checkbox" class="" id="Nofollow-up" />

                  <label for="Nofollow-up">Auto Move next</label>

                  <input type="checkbox" class="" id="Nofollow-up" />
                </div>
                <div class="col-1-of-2-custom u-margin-top-small">
                  <div class="follow-up_actions">
                    <button class="follow-up__update">
                      <i class="fas fa-marker"></i> Update
                    </button>

                    <button class="follow-up__update">
                      <i class="fas fa-marker"></i> Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Follow_up_view__col_right">
            &nbsp;
            <div class="Follow_up_view__boder-red">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>

                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call not picked due to user is not in chennai went to
                  outstation,
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 23/09/2018

                  <button class="Follow_up_view__col_right__status__tags">
                    Call Not Picked
                  </button>
                </div>
              </div>
            </div>
            <div class="Follow_up_view__boder-green">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>

                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call Later
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 02/09/2020
                </div>
              </div>
            </div>
            <div class="Follow_up_view__boder-red">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>
                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call Next month
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 02/09/2020
                  <span class="">Call not picked</span>
                </div>
              </div>
            </div>

            <div class="Follow_up_view__boder-green">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>
                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call Next month
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 02/09/2020
                  <span class="">Call not picked</span>
                </div>
              </div>
            </div>

            <div class="Follow_up_view__boder-red">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>
                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call Next month
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 02/09/2020
                  <span class="">Call not picked</span>
                </div>
              </div>
            </div>
            <div class="Follow_up_view__boder-green">
              <div class="Follow_up_view__container">
                <div class="Follow_up_view__header__left">
                  <div class="Follow_up_view__header__logo">
                    <a href="" class="link header__right_items"
                      ><img
                        src="../../assets/img/ac0d6274a6cea04669e66a20ec0ea204.jpeg"
                        class="header__client__img"
                      />
                    </a>
                    <a> Followed by phone</a>
                  </div>

                  <div class="Follow_up_view__header__content">
                    <div class="Follow_up_view__header__content__down"></div>
                  </div>
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  Call Next month
                </div>

                <div
                  class="Follow_up_view__col_right__status u-margin-top-small"
                >
                  <i class="fas fa-calendar-week"></i> 02/09/2020
                  <span class="">Call not picked</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <p>dsd</p> -->

