.Add_follow_up_status {
  display: none;
}
input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

input:focus,
textarea:focus {
  box-shadow: 2px 2px 2px #4bbeff;
}
textarea:focus,
select:focus {
  outline: none;
}
input:focus {
  outline: none !important;

  border: 1px solid skyblue;
}
input,
select {
  box-sizing: border-box;
}
